body{
    background-color: rgb(109, 150, 37);
    color: rgb(150, 72, 16);
    margin-left: 40px;
    font-size: 25px;
}
nav{
    background-color: olivedrab;
    text-align: center;
}
ul{
    color: indigo;
    text-decoration: chocolate;
    font-style: italic;
}
div p{
    color: crimson;
    font-size: smaller;
}
.pic{
    margin: 0,auto;

}
header{
    margin: auto;
    padding-left: 30px;
    background-color: rgb(150, 72, 16);
}
a:link{
    color: darkgoldenrod;
}
a:hover{
    color: dodgerblue;
}